table.tb_a1 tr.a_1{height: 30px}
table.tb_a1 tr.a_1:hover{background: #FFFF99}

a.lk_a1{text-decoration: none; color:blue}
a.lk_a1:hover{color: red}

a.phan_trang{text-decoration: none; color: blue; font-size: 20px}
a.phan_trang:hover{color: red}

